#=====POSTGRESS_SETTINGS=====#

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=db


#=====JWT_SETTINGS=====#

JWT_ACCESS_TOKEN_EXPIRES=30
JWT_ALGORITHM=HS256
JWT_SECRET_KEY=my_secret_key
JWT_REFRESH_SECRET_KEY=my_refresh_secret_key
JWT_REFRESH_TOKEN_EXPIRES=10080
ACCESS_TOKEN_COOKIE_KEY=access_token_cookie
REFRESH_TOKEN_COOKIE_KEY=refresh_token_cookie


#=====MAIL_SETTINGS=====#

MAIL_USERNAME="SchoolControlDev"
MAIL_PASSWORD="xplgzrttigzyzfxw"
MAIL_FROM="schoolcontroldev@yandex.by"
MAIL_PORT=587
MAIL_SERVER=smtp.yandex.by
MAIL_STARTTLS=True
MAIL_SSL_TLS=False